<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido a Sitio de alojamientos temporarios</title>
    <style>

        nav li {
            display: inline;
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <h1>Sitio de alojamientos temporarios</h1>
    
    <nav>
        <ul>
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li><a href="{% url 'form_alojamiento' %}">Alojamiento</a></li>
            <li><a href="{% url 'form_anfitrion' %}">Anfitrión</a></li>
            <li><a href="{% url 'form_reserva' %}">Reserva</a></li>
            <li><a href="{% url 'buscar_alojamiento' %}">Buscar Ciudad</a></li>
        </ul>
    </nav>
    <hr>

    {% block content %}
    {% endblock %}

    <hr>

</body>
</html>